%h2 Der Beagle
%p Der Beagle gehört zu den Laufhunden....

%h3 Abbildung
%p Ein Bild von einem kleinen süßen Beagle!!!

%img{:src => "Download.jpg"}
%h3 Link
%a{:href => "http://www.beaglefriends-ruhr.de/"}>http://www.beaglefriends-ruhr.de/

%p Name
%input{type: "text", placeholder:"name"}

%p Email

%input{type: "text", placeholder:"email"}

%input{type:"button", value: "Absenden", id:"button1"}